In [1]:
import pandas as pd

ship_06_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2006.csv")
ship_07_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2007.csv")
ship_08_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2008.csv")
ship_09_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2009.csv")
ship_10_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2010.csv")
ship_11_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2011.csv")
ship_12_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2012.csv")
ship_13_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2013.csv")
ship_14_df = pd.read_csv("/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/00_source_data/shipment_data/buyer_monthly2014.csv")

In [2]:
shipment = [ship_06_df,ship_07_df,ship_08_df,ship_09_df,ship_10_df,ship_11_df,ship_12_df,ship_13_df,ship_14_df]
ship_data = pd.concat(shipment)

In [3]:
#ship_states = ship_data[ship_data['BUYER_STATE'].isin(states_needed)]

In [4]:
ship_data.dtypes

BUYER_DEA_NO      object
BUYER_BUS_ACT     object
BUYER_COUNTY      object
BUYER_STATE       object
year               int64
month              int64
DOSAGE_UNIT      float64
dtype: object

In [5]:
ship_data[ship_data['BUYER_COUNTY'].isna()]

,BUYER_DEA_NO,BUYER_BUS_ACT,BUYER_COUNTY,BUYER_STATE,year,month,DOSAGE_UNIT
37547,AF1034014,RETAIL PHARMACY,NaN,PR,2006,4,100.0
37548,AF1034014,RETAIL PHARMACY,NaN,PR,2006,10,100.0
37549,AF1034014,RETAIL PHARMACY,NaN,PR,2006,11,100.0
42827,AF8455152,RETAIL PHARMACY,NaN,PR,2006,1,500.0
42828,AF8455152,RETAIL PHARMACY,NaN,PR,2006,2,1000.0
...,...,...,...,...,...,...,...
449760,BR1595428,CHAIN PHARMACY,NaN,CT,2008,5,3200.0
449761,BR1595428,CHAIN PHARMACY,NaN,CT,2008,6,1600.0
449762,BR1595428,CHAIN PHARMACY,NaN,CT,2008,7,900.0
449763,BR1595428,CHAIN PHARMACY,NaN,CT,2008,8,200.0
566028,BT6524741,CHAIN PHARMACY,NaN,NV,2008,1,2200.0

In [6]:
ship_data[ship_data['BUYER_DEA_NO'] == 'AL1901621']

,BUYER_DEA_NO,BUYER_BUS_ACT,BUYER_COUNTY,BUYER_STATE,year,month,DOSAGE_UNIT
80686,AL1901621,PRACTITIONER,NaN,FL,2006,1,100.0
80687,AL1901621,PRACTITIONER,NaN,FL,2006,3,200.0
80688,AL1901621,PRACTITIONER,NaN,FL,2006,5,100.0
80689,AL1901621,PRACTITIONER,NaN,FL,2006,6,100.0
80690,AL1901621,PRACTITIONER,NaN,FL,2006,7,100.0
80691,AL1901621,PRACTITIONER,NaN,FL,2006,9,100.0
80692,AL1901621,PRACTITIONER,NaN,FL,2006,10,100.0
80693,AL1901621,PRACTITIONER,NaN,FL,2006,12,100.0
74162,AL1901621,PRACTITIONER,NaN,FL,2007,1,100.0
74163,AL1901621,PRACTITIONER,NaN,FL,2007,2,100.0
74164,AL1901621,PRACTITIONER,NaN,FL,2007,4,200.0
74165,AL1901621,PRACTITIONER,NaN,FL,2007,5,100.0
74166,AL1901621,PRACTITIONER,NaN,FL,2007,6,100.0
74167,AL1901621,PRACTITIONER,NaN,FL,2007,7,100.0

In [7]:
shipment_cleaned = ship_data.dropna()
shipment_cleaned = shipment_cleaned[shipment_cleaned['BUYER_STATE'] != 'AK']

In [8]:
shipment_cleaned.to_csv('/mnt/c/Users/sdona/Documents/Duke/720IDS/Mid-SemesterProject/pds2021-opioids-team-2-ids720/20_intermediate_files/shipment_data.csv', encoding='utf-8')