In [1]:
import pandas as pd
import numpy as np

In [2]:
death = pd.read_csv(
    "https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-2-ids720/data_merging/20_intermediate_files/mortality_merged_imputed_all.csv?token=AVKGWH6UVAKL5FJ7W45AUHTBUERVW"
)

In [3]:
death["Death_per_cap_final"] = np.where(death["Death_per_cap"].notna(), death["Death_per_cap"],death["imputed_death_per_cap"])

In [4]:
death.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
0,2003,AL,Baldwin County,10.0,151707.0,50147.0,1046.0,both,0.000066,0.000066,0.000066
1,2003,AL,Jefferson County,69.0,660486.0,45244.0,641.0,both,0.000104,0.000104,0.000104
2,2003,AL,Mobile County,26.0,397707.0,40996.0,723.0,both,0.000065,0.000065,0.000065
3,2003,AR,Pulaski County,18.0,366375.0,45121.0,783.0,both,0.000049,0.000049,0.000049
4,2003,AZ,Cochise County,11.0,121175.0,44876.0,1551.0,both,0.000091,0.000091,0.000091

In [5]:
death["Death_per_cap_final"] = np.where(death["Death_per_cap"].notna(), death["Death_per_cap"],death["imputed_death_per_cap"])

In [6]:
states_FL=["FL","MI","NV","SC"]
df_FL = death.loc[death["State_Code"].isin(states_FL)]
df_FL.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
62,2003,FL,Alachua County,11.0,225862.0,40644.0,1059.0,both,0.000049,0.000049,0.000049
63,2003,FL,Bay County,21.0,154726.0,47770.0,1179.0,both,0.000136,0.000136,0.000136
64,2003,FL,Brevard County,97.0,502985.0,49523.0,841.0,both,0.000193,0.000193,0.000193
65,2003,FL,Broward County,230.0,1719073.0,51694.0,461.0,both,0.000134,0.000134,0.000134
66,2003,FL,Citrus County,16.0,125757.0,37933.0,957.0,both,0.000127,0.000127,0.000127

In [7]:
states_TX=["TX","MO","IL","OR"]
df_TX = death.loc[death["State_Code"].isin(states_TX)]
df_TX.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
109,2003,IL,Cook County,454.0,5330484.0,53942.0,289.0,both,0.000085,0.000085,0.000085
110,2003,IL,DuPage County,48.0,920457.0,76581.0,792.0,both,0.000052,0.000052,0.000052
111,2003,IL,Lake County,37.0,676086.0,78948.0,796.0,both,0.000055,0.000055,0.000055
112,2003,IL,Madison County,13.0,263023.0,51941.0,830.0,both,0.000049,0.000049,0.000049
113,2003,IL,McHenry County,13.0,286909.0,76482.0,1169.0,both,0.000045,0.000045,0.000045

In [8]:
states_WA=["WA","OR","HI","MT"]
df_WA = death.loc[death["State_Code"].isin(states_WA)]
df_WA.head()

,Year,State_Code,County_Name,Deaths,Population,Median_Income_2010,Income_Error_Margin,_merge,Death_per_cap,imputed_death_per_cap,Death_per_cap_final
105,2003,HI,Hawaii County,11.0,156340.0,54996.0,1555.0,both,0.000070,0.000070,0.000070
106,2003,HI,Honolulu County,62.0,888026.0,70093.0,725.0,both,0.000070,0.000070,0.000070
204,2003,MT,Missoula County,11.0,99832.0,42887.0,1381.0,both,0.000110,0.000110,0.000110
205,2003,MT,Yellowstone County,11.0,133054.0,48641.0,1222.0,both,0.000083,0.000083,0.000083
288,2003,OR,Clackamas County,28.0,355730.0,62007.0,954.0,both,0.000079,0.000079,0.000079

In [9]:
df_FL_pre = df_FL[df_FL["Year"] < 2010]
df_FL_post = df_FL[df_FL["Year"] >= 2010]

df_TX_pre = df_TX[df_TX["Year"] < 2007]
df_TX_post = df_TX[df_TX["Year"] >= 2007]

df_WA_pre = df_WA[df_WA["Year"] < 2011]
df_WA_post = df_WA[df_WA["Year"] >= 2011]

In [10]:
pre_FL = df_FL_pre.loc[df_FL_pre["State_Code"] == "FL"]["Death_per_cap"].describe()
pre_FL_x = df_FL_pre.loc[df_FL_pre["State_Code"] != "FL"]["Death_per_cap"].describe()

In [11]:
df_FL_post.Death_per_cap.max()

0.0004431969271679

In [12]:
post_FL = df_FL_post.loc[df_FL_post["State_Code"] == "FL"]["Death_per_cap"].describe()
post_FL_x = df_FL_post.loc[df_FL_post["State_Code"] != "FL"]["Death_per_cap"].describe()

post_FL_x

count    248.000000
mean       0.000167
std        0.000066
min        0.000038
25%        0.000119
50%        0.000160
75%        0.000202
max        0.000443
Name: Death_per_cap, dtype: float64

In [13]:
pre_WA = df_WA_pre.loc[df_WA_pre["State_Code"] == "WA"]["Death_per_cap"].describe()
pre_WA_x = df_WA_pre.loc[df_WA_pre["State_Code"] != "WA"]["Death_per_cap"].describe()

pre_WA_x

count    85.000000
mean      0.000111
std       0.000056
min       0.000036
25%       0.000072
50%       0.000099
75%       0.000123
max       0.000334
Name: Death_per_cap, dtype: float64

In [14]:
post_WA = df_WA_post.loc[df_WA_post["State_Code"] == "WA"]["Death_per_cap"].describe()
post_WA_x = df_WA_post.loc[df_WA_post["State_Code"] != "WA"]["Death_per_cap"].describe()

#post_WA
post_WA_x

count    74.000000
mean      0.000119
std       0.000050
min       0.000034
25%       0.000089
50%       0.000105
75%       0.000144
max       0.000295
Name: Death_per_cap, dtype: float64

In [19]:
pre_TX = df_TX_pre.loc[df_TX_pre["State_Code"] == "TX"]["Death_per_cap_final"].describe()
pre_TX_x = df_TX_pre.loc[df_TX_pre["State_Code"] != "TX"]["Death_per_cap"].describe()

pre_TX_x

count    107.000000
mean       0.000104
std        0.000064
min        0.000036
25%        0.000063
50%        0.000080
75%        0.000116
max        0.000392
Name: Death_per_cap, dtype: float64

In [22]:
post_TX = df_TX_post.loc[df_TX_post["State_Code"] == "TX"]["Death_per_cap_final"].describe()
post_TX_x = df_TX_post.loc[df_TX_post["State_Code"] != "TX"]["Death_per_cap"].describe()

post_TX_x

count    368.000000
mean       0.000144
std        0.000075
min        0.000034
25%        0.000093
50%        0.000122
75%        0.000183
max        0.000601
Name: Death_per_cap, dtype: float64